<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-content padding="false" style="top:0px !important;" class="side-menu-left ">
      <div class="spacer" style="width: 268px; height: 22px;"></div>
      <div>
        <a style="display:block;" ui-sref="beranda2.profil()" menu-close="">
          <img src="img/fIjOHpRQOqfVpf65Zf1w_images.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <a ui-sref="beranda2.profil()" menu-close="" id="beranda2-button45" style="font-weight:300;" class="button button-light button-block">Dedy Assokkoreng</a>
      <ion-list id="beranda2-list1">
        <ion-item class="item-icon-right" id="beranda2-list-item1" ui-sref="beranda2.beranda()" menu-close="">Beranda
          <i class="icon ion-ios-home-outline"></i>
        </ion-item>
        <ion-item class="item-icon-right" id="beranda2-list-item2" ui-sref="beranda2.keranjang()" menu-close="">Keranjang
          <i class="icon ion-ios-cart-outline"></i>
        </ion-item>
        <ion-item class="item-icon-right" id="beranda2-list-item3" ui-sref="beranda2.transaksi()" menu-close="">Transaksi
          <i class="icon ion-ios-list-outline"></i>
        </ion-item>
        <ion-item class="item-icon-right" id="beranda2-list-item4" ui-sref="beranda2.masuk()" menu-close="">Masuk
          <i class="icon ion-log-in"></i>
        </ion-item>
        <ion-item class="item-icon-right" id="beranda2-list-item5" ui-sref="beranda2.daftar()" menu-close="">Daftar
          <i class="icon ion-log-in"></i>
        </ion-item>
        <ion-item class="item-icon-right" id="beranda2-list-item6">Keluar
          <i class="icon ion-log-out"></i>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>