<ion-view title="Edit Profil" id="page13">
  <ion-content padding="true" class="has-header">
    <div id="editProfil-container24">
      <form id="editProfil-form10" class="list">
        <label class="item item-input item-stacked-label" id="editProfil-input7" name="nama">
          <span class="input-label">Nama</span>
          <input type="text" placeholder="Nama Anda">
        </label>
        <label class="item item-input item-stacked-label" id="editProfil-input8" name="no.hp">
          <span class="input-label">No. Hp</span>
          <input type="tel" placeholder="No. Hp Anda">
        </label>
        <label class="item item-input item-stacked-label" id="editProfil-input9" name="alamat">
          <span class="input-label">Alamat</span>
          <input type="text" placeholder="Alamat Anda">
        </label>
      </form>
    </div>
    <button id="editProfil-button104" class="button button-positive button-block">Tap me!</button>
  </ion-content>
</ion-view>