<ion-view title="Form Pembayaran" id="page15">
  <ion-content padding="true" class="has-header">
    <div id="formPembayaran-container29">
      <ion-list id="formPembayaran-list22">
        <ion-item class="item-divider" id="formPembayaran-list-item-divider10"> Informasi Pembayaran</ion-item>
        <ion-list id="formPembayaran-list23">
          <ion-item id="formPembayaran-list-item47">Bank
            <span class="item-note">BRI-01</span>
          </ion-item>
          <ion-item id="formPembayaran-list-item48">No. Rekening
            <span class="item-note">1234-1234-123-123</span>
          </ion-item>
          <ion-item id="formPembayaran-list-item49">A.N.
            <span class="item-note">Dedy Azwar</span>
          </ion-item>
        </ion-list>
      </ion-list>
    </div>
    <div id="formPembayaran-container30">
      <ion-list id="formPembayaran-list25">
        <ion-item class="item-divider" id="formPembayaran-list-item-divider11"> Bukti Pembayaran</ion-item>
        <ion-list id="formPembayaran-list24">
          <ion-item id="formPembayaran-list-item50">Email
            <span class="item-note">Email</span>
          </ion-item>
        </ion-list>
      </ion-list>
    </div>
    <button id="formPembayaran-button105" class="button button-positive button-block icon-right ion-android-arrow-forward">Simpan</button>
  </ion-content>
</ion-view>