<ion-view title="Form Transaksi" id="page10">
  <ion-content padding="true" class="has-header">
    <div id="formTransaksi-container13">
      <ion-list id="formTransaksi-list15">
        <ion-list id="formTransaksi-list16">
          <ion-item class="item-divider" id="formTransaksi-list-item-divider7"> Item :</ion-item>
          <ion-item id="formTransaksi-list-item22">Item 1</ion-item>
          <ion-item id="formTransaksi-list-item23">Item 2</ion-item>
          <ion-item id="formTransaksi-list-item24">Item 3</ion-item>
        </ion-list>
      </ion-list>
    </div>
    <div id="formTransaksi-container18">
      <ion-list id="formTransaksi-list19">
        <ion-list id="formTransaksi-list18">
          <ion-item class="item-divider" id="formTransaksi-list-item-divider8"> Data Transaksi</ion-item>
          <ion-item id="formTransaksi-list-item25">Item 1</ion-item>
          <ion-item id="formTransaksi-list-item28">Item 2</ion-item>
          <ion-item id="formTransaksi-list-item29">Item 3</ion-item>
        </ion-list>
      </ion-list>
    </div>
    <button id="formTransaksi-button101" class="button button-positive button-block icon ion-paper-airplane"> Check Out!</button>
  </ion-content>
</ion-view>