<ion-view title="Keranjang" id="page2">
  <ion-content padding="true" class="has-header">
    <div id="keranjang-container32">
      <div id="keranjang-container33">
        <form id="keranjang-form13" class="list">
          <ion-checkbox id="keranjang-checkbox3" name="item-id">Checkbox 1</ion-checkbox>
          <ion-item class="item-thumbnail-left" id="keranjang-list-item59" href-inappbrowser="item yang dituju harus disini">
            <img src="img/tJ0Tno5qQD2abQCBbcw9_egg.jpg">
            <h2>Nama Barang</h2>
            <p>Harga Barang</p>
          </ion-item>
        </form>
      </div>
      <div id="keranjang-container8">
        <form id="keranjang-form7" class="list">
          <ion-checkbox id="keranjang-checkbox6" name="item-id">Checkbox 2</ion-checkbox>
          <ion-item class="item-thumbnail-left" id="keranjang-list-item9" href-inappbrowser="item yang dituju harus disini">
            <img src="img/tJ0Tno5qQD2abQCBbcw9_egg.jpg">
            <h2>Nama Barang</h2>
            <p>Harga Barang</p>
          </ion-item>
        </form>
      </div>
      <div id="keranjang-container9">
        <form id="keranjang-form8" class="list">
          <ion-checkbox id="keranjang-checkbox7" name="item-id">Checkbox 3</ion-checkbox>
          <ion-item class="item-thumbnail-left" id="keranjang-list-item10" href-inappbrowser="item yang dituju harus disini">
            <img src="img/tJ0Tno5qQD2abQCBbcw9_egg.jpg">
            <h2>Nama Barang</h2>
            <p>Harga Barang</p>
          </ion-item>
          <div id="keranjang-button-bar3" class="button-bar">
            <button id="keranjang-button40" class="button button-assertive button-block">Remove</button>
            <button id="keranjang-button41" class="button button-balanced button-block">Check Out</button>
          </div>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>