<ion-view title="Profil" hide-nav-bar="true" id="page9">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/LWDxJVs4Qx2aqVA7tjZ3_person.jpg" style="display: block; width: 100%; height: 250px; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="profil-list4">
      <ion-item id="profil-list-item14">Nama
        <span class="item-note">Nama Lengkap</span>
      </ion-item>
      <ion-item id="profil-list-item15">No. Hp
        <span class="item-note">No. Hp</span>
      </ion-item>
      <ion-item id="profil-list-item16">Alamat
        <span class="item-note">Alamat</span>
      </ion-item>
      <ion-item id="profil-list-item17">Facebook
        <span class="item-note">Alamat</span>
      </ion-item>
      <ion-item id="profil-list-item18">Instagram
        <span class="item-note">Alamat</span>
      </ion-item>
      <ion-item id="profil-list-item19">Pinterest
        <span class="item-note">Alamat</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>