<ion-view title="Rincian Transaksi" id="page14">
  <ion-content padding="true" class="has-header">
    <div id="rincianTransaksi-container25">
      <ion-list id="rincianTransaksi-list14">
        <ion-item id="rincianTransaksi-list-item32">No. Transaksi
          <span class="item-note">TR-00001</span>
        </ion-item>
        <ion-item id="rincianTransaksi-list-item33">Tgl. Transaksi
          <span class="item-note">02-10-2020</span>
        </ion-item>
        <ion-item id="rincianTransaksi-list-item40">Nama Barang
          <span class="item-note">Telur Mata Ayam</span>
        </ion-item>
        <ion-item id="rincianTransaksi-list-item42">Harga Barang
          <span class="item-note">Rp. 1200</span>
        </ion-item>
        <ion-item id="rincianTransaksi-list-item41">Jumlah Barang
          <span class="item-note">100</span>
        </ion-item>
        <ion-item id="rincianTransaksi-list-item43">Total Harga Barang
          <span class="item-note">Rp. 120000</span>
        </ion-item>
      </ion-list>
    </div>
    <ion-list id="rincianTransaksi-list20">
      <label class="item item-input item-stacked-label" id="rincianTransaksi-input11">
        <span class="input-label">Alamat Pengataran</span>
        <input type="text" placeholder="Jl. H. A. Panguriseng no 40">
      </label>
    </ion-list>
    <creator-map-component options="{}" marker="true" location="Madison Capital" zoom="12" style="display:block;position:relative;width:100%;height:300px;">
      <ui-gmap-google-map ng-if="map.center" center="map.center" zoom="map.zoom" options="map.options">
        <ui-gmap-marker coords="map.marker.coords" idkey="map.marker.id" options="map.marker.options"></ui-gmap-marker>
      </ui-gmap-google-map>
    </creator-map-component>
  </ion-content>
</ion-view>