<ion-view title="Transaksi" hide-nav-bar="true" id="page3">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
    <div id="transaksi-button-bar9" class="button-bar">
      <button id="transaksi-button97" style="font-weight:lighter;font-size:12px;" class="button button-calm button-block">Dikemas</button>
      <button id="transaksi-button98" style="font-weight:lighter;font-size:12px;" class="button button-calm button-block">Dikirim</button>
      <button id="transaksi-button99" style="font-weight:lighter;font-size:12px;" class="button button-calm button-block">Selesai</button>
      <button id="transaksi-button100" style="font-weight:lighter;font-size:12px;" class="button button-calm button-full">Batal</button>
    </div>
    <div id="transaksi-container12">
      <ion-list id="transaksi-list5">
        <ion-list id="transaksi-list7">
          <ion-item class="item-divider" id="transaksi-list-item-divider1"> Dikemas</ion-item>
          <ion-item class="item-thumbnail-left" id="transaksi-list-item26">
            <img src="img/RmI2oorRSFq8dw3oqyYU_egg.jpg">
            <h2>No. transaksi 1</h2>
            <p>Data Barang</p>
          </ion-item>
        </ion-list>
      </ion-list>
    </div>
    <div id="transaksi-container23">
      <ion-list id="transaksi-list11">
        <ion-list id="transaksi-list10">
          <ion-item class="item-divider" id="transaksi-list-item-divider4"> Dikirim</ion-item>
          <ion-item class="item-thumbnail-left" id="transaksi-list-item27">
            <img src="img/RmI2oorRSFq8dw3oqyYU_egg.jpg">
            <h2>No. transaksi 1</h2>
            <p>Data Barang</p>
          </ion-item>
        </ion-list>
      </ion-list>
    </div>
    <div id="transaksi-container10">
      <ion-list id="transaksi-list9">
        <ion-list id="transaksi-list8">
          <ion-item class="item-divider" id="transaksi-list-item-divider5"> Selesai</ion-item>
          <ion-item class="item-thumbnail-left" id="transaksi-list-item11">
            <img src="img/RmI2oorRSFq8dw3oqyYU_egg.jpg">
            <h2>No. transaksi 1</h2>
            <p>Data Barang</p>
          </ion-item>
        </ion-list>
      </ion-list>
    </div>
    <div id="transaksi-container11">
      <ion-list id="transaksi-list13">
        <ion-list id="transaksi-list12">
          <ion-item class="item-divider" id="transaksi-list-item-divider6"> Batal</ion-item>
          <ion-item class="item-thumbnail-left" id="transaksi-list-item12">
            <img src="img/RmI2oorRSFq8dw3oqyYU_egg.jpg">
            <h2>No. transaksi 1</h2>
            <p>Data Barang</p>
          </ion-item>
        </ion-list>
      </ion-list>
    </div>
  </ion-content>
</ion-view>